* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.container {
  padding: 4px;
  margin: 0;

  border: 2px dashed lightcoral;

  list-style-type: none;
}

.container > * {
  padding: 4px;

  border: 2px dashed lightblue;
}

.responsive-grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

.gap-xs {
  gap: 4px;
}
